includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    featureToggles:
        bleedingEdge: true

    bootstrapFiles:
        - %rootDir%/../../../vendor/autoload.php

    reportUnmatchedIgnoredErrors: false
    universalObjectCratesClasses:
        - Contao\UserModel

    ignoreErrors:
        -
        	identifier: missingType.iterableValue
        -
            message: '#Cannot call method load\(\) on Symfony\\Component\\Config\\Loader\\LoaderInterface\|false#'
            path: %currentWorkingDirectory%/src/ContaoManager/Plugin.php

        -
            message: '#Method ContaoId\\ContaoBundle\\ContaoManager\\Plugin::getRouteCollection\(\) should return Symfony\\Component\\Routing\\RouteCollection\|null but returns mixed#'
            path: %currentWorkingDirectory%/src/ContaoManager/Plugin.php
