<div class="oauth-container">
    <div class="oauth-separator">{{ 'login.separator'|trans({}, 'ContaoIdContao') }}</div>

    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'contao_id' }) }}" class="tl_submit oauth-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.02 141.348" height="20" fill="currentColor" aria-hidden="true">
            <path d="M81.605,65.894c-4.676-.737-8.358-4.652-8.852-9.36-.161-1.531.006-3.004.437-4.359.463-1.456-.63-2.937-2.157-2.938h-.023c-12.292,0-22.168,10.346-21.394,22.805.663,10.675,9.351,19.364,20.026,20.027,12.459.774,22.805-9.102,22.805-21.394,0-1.592-.179-3.142-.514-4.633s-2.051-2.134-3.383-1.381c-2.001,1.132-4.405,1.634-6.946,1.233Z" />
            <path d="M41.91,134.303c-1.612,0-3.248-.391-4.765-1.215-3.996-2.169-7.814-4.748-11.316-7.642-12.418-10.201-21.204-24.72-24.386-40.477-3.35-16.222-.826-33.599,7.131-48.138,2.177-4.008,4.742-7.803,7.642-11.317,3.515-4.259,9.815-4.864,14.078-1.348,4.26,3.516,4.862,9.818,1.348,14.078-1.038,1.257-2.026,2.58-2.939,3.93-5.668,8.349-8.728,18.404-8.7,28.5-.013,8.456,2.102,16.874,6.148,24.299,4.679,8.634,11.905,15.861,20.542,20.541,9.084,5.049,5.486,18.735-4.782,18.789Z" />
            <path d="M77.214,141.348c-12.573-.394-13.549-18.262-.998-19.95,1.696-.172,3.398-.432,5.06-.772,23.301-4.533,40.997-26.202,40.701-49.952.246-20.087-12.591-39.346-31.146-46.986-4.64-1.966-9.6-3.231-14.615-3.738-5.494-.558-9.497-5.464-8.939-10.958.559-5.494,5.46-9.498,10.959-8.939,4.698.477,9.347,1.423,13.859,2.826,34.617,10.616,55.893,46.659,48.44,82.092-5.874,30.142-32.636,54.172-63.321,56.377Z" />
            <circle cx="47.602" cy="14.211" r="10.639" />
        </svg>

        {{ 'login.button'|trans({}, 'ContaoIdContao') }}
    </a>
</div>

<style>
    .oauth-container {
        margin-top:20px;
        text-align: center
    }

    .oauth-separator {
        display: flex;
        align-items: center;
        margin: 2rem 0;
        font-size: 0.8rem;
        line-height: 1.6;
        height: 1px;
        color: var(--text, #656d77);
    }

    .oauth-separator::before,
    .oauth-separator::after {
        flex: 1 1 auto;
        height: 1px;
        background-color: var(--form-border, #656d77);
        opacity: .16;
    }

    .oauth-separator::before {
        content: "";
        margin-right: .5rem;
    }

    .oauth-separator::after {
        content: "";
        margin-left: .5rem;
    }

    .oauth-button {
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: var(--form-button, #fff);
        border-color: rgba(101, 109, 119, .24);
        padding-left: 8px;
    }

    .oauth-button img {
        max-height: 100%;
    }
</style>
